{% extends 'ohome.html' %}


{% block content %}     
    <div class="itemBox">
        <div class="prodBoxII">
            <div><img src="{{object.image.url}}"></div>
            <div>
                <div class="pbd">{{object.name}}</div>
                <div class="pbd">{{object.description}}</div>
                <div class="pbd">{{object.price_BTC}}</div>
            </div>
        </div>
    </div>
    <div class="navBox">
        <a href="{% url 'updateCon_page' container.id %}">Update</a>
        <a href="{% url 'deleteCon_page' container.id %}">Delete</a>
    </div>
{% endblock content %}